/*****************************
Mise en Page des Ajout Contact
******************************/
#cadreContentAddContact{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.formulaireInternAjoutContact{ /* modifie le cadre colorie grey*/
    height: 600px;
    display: flex;
    flex-direction: column;
}


.formulaireInternAjoutContact .creationData {   /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 150px;
    text-align: right;
}

/* controle l'ensemble des class lignesBlock */

.ensembleBlockAjoutContact{ 
    background-color:#BEE5DC;
    border-radius: 50px 10px 70px 10px ;
    margin-top: 5%;
    margin-left: 20px;
    width: 55%;
    height: 80%;
    box-shadow: 0px 0px 25px 2px black ;
}

.ajouterContact1{
    margin-left: 20px;
    margin-right: 65%;
}

.ajouterContact2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
}

.ajouterContact3{
    display: flex;
    flex-direction: column;    
    margin-left: 20px;
    margin-right: 20px;
    
}

.ajouterContact4, .ajouterContact5{
    width: 5%;
    margin-left: 20px;

}

.ajouterContact6{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.infoCreationContact{ /* boite créer le:*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    width: 48%;
}

.infoCreationContact input{
    margin-right: 80px;
}


/* parti reglage commentaire + button*/

.ajouterConctactReglageBtn{
    display: flex;
    justify-content: space-around;
    width: 420px;
    margin-top: 0%;
    margin-left: 65%;

}

/*controle du deplacement logo de la société*/

.ajoutContactPhoto{
    margin-left: 60%;
    margin-top: -45%;
}
.ajoutContactPhoto img{
    border: 5px double #5CD7C0;
}
