/**************************************
Mise en Page Contact
***************************************/

.titreContact
{
    position: relative;
    top: 200px;
    left: 120px;
    font-weight: bold;
}

.contactColor
{
    color: red;
    font-weight: bold;
}