/**************************************
Mise en Page Qui Sommes Nous
***************************************/

#nous
{
   text-align: justify; 
   margin: 10em;
   
}

#nousBis
{
    text-align: center;
    font-weight: bold;
}
